@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Showcase */
#showcase {
    position: relative;
    background: #000000;
    color: #fff;
}

#showcase:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/showcase01.jpg") no-repeat center center/cover;
    opacity: 0.75;
}

#showcase * {
    z-index: 1;
}

#showcase .container .row #showcase-col {
    height: 80vh;
}

.content {
    margin-top: 25%;
}

.fa-html5 {
    color: rgb(227, 76, 38);
}

.fa-css3-alt {
    color: rgb(41, 101, 241);
}

.fa-bootstrap {
    color: rgb(86, 61, 124);
}

.fa-js {
    color: rgb(240, 219, 79);
}

.fa-vuejs {
    color: rgb(66, 184, 131);
}

.bg-html {
    background-color: rgb(227, 76, 38);
}

.bg-css {
    background-color: rgb(41, 101, 241);
}

.bg-bootstrap {
    background-color: rgb(86, 61, 124);
}

.bg-js {
    background-color: rgb(240, 219, 79);
}

.bg-vue {
    background-color: rgb(66, 184, 131);
}


img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}